<header class="PT-header">
  <a class="PT-brand" href="/">
    <img src="/Images/Home/Logo.svg" alt="Logo" class="PT-logoimg">
  </a>

  <div class="PT-logotext">
    Cinemora
    <p>Đỉnh cao điện ảnh</p>
  </div>

  <div class="PT-header-right">
    <a href="/search">
        <button class="PT-search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </a>

    <nav class="PT-menu">
        <ul class="PT-menu-list">

            <li class="PT-menu-item"><a href="/phim?genre=Series">Phim bộ</a></li>
            <li class="PT-menu-item"><a href="/phim?genre=Movie">Phim lẻ</a></li>

            <!-- THỂ LOẠI -->
            <li class="PT-menu-item PT-has-dropdown">
                <a href="#">Thể loại</a>
                <i class="fa-solid fa-caret-down"></i>

                <div class="PT-dropdown">
                    <a href="/phim?genre=Action">Hành động</a>
                    <a href="/phim?genre=Romance">Tình cảm</a>
                    <a href="/phim?genre=Horror">Kinh dị</a>
                    <a href="/phim?genre=Comedy">Hài</a>
                    <a href="/phim?genre=Anime">Anime</a>
                    <a href="/phim?genre=Detective">Trinh thám</a>
                    <a href="/phim?genre=Co-trang">Cổ trang</a>
                    <a href="/phim?genre=Scifi">Sci-Fi</a>
                    <a href="/phim?genre=Family">Gia đình</a>
                    <a href="/phim?genre=Fantasy">Fantasy</a>

                </div>
            </li>

            <!-- QUỐC GIA -->
            <li class="PT-menu-item PT-has-dropdown">
                <a href="#">Quốc gia</a>
                <i class="fa-solid fa-caret-down"></i>

                <div class="PT-dropdown">
                    <a href="/phim?lang=ko">Hàn Quốc</a>
                    <a href="/phim?lang=zh">Trung Quốc</a>
                    <a href="/phim?lang=en">Mỹ</a>
                    <a href="/phim?lang=ja">Nhật Bản</a>
                    <a href="/phim?lang=vi">Việt Nam</a>
                    <a href="/phim?lang=th">Thái Lan</a>
                    <a href="/phim?lang=zh-TW">Đài</a>
                    <a href="/phim?lang=fr">Pháp</a>
                    <a href="/phim?lang=zh-HK">Hồng Kông</a>
                </div>
            </li>

            <!-- THÊM -->
            <li class="PT-menu-item PT-has-dropdown">
                <a href="#">Thêm</a>
                <i class="fa-solid fa-caret-down"></i>

                <div class="PT-dropdown">
                    <a href="#">Lịch chiếu</a>
                    <a href="#">Chủ đề</a>

                </div>
            </li>

            <li class="PT-menu-item"><a href="#">Tải ứng dụng Cinemora</a></li>
        </ul>
    </nav>

    <!-- USER -->
    <% if (!user) { %>
        <!-- CHƯA ĐĂNG NHẬP -->
        <div class="PT-user">
          <a href="/login" class="PT-user-btn">
            <i class="fa-solid fa-user"></i>
            <span>Thành viên</span>
          </a>
        </div>
    <% } else { %>
        <!-- ĐÃ ĐĂNG NHẬP -->
        <div class="PT-user PT-has-dropdown">
          <img src="/Images/Home/User.svg" alt="User Icon">
          <i class="fa-solid fa-caret-down"></i>

          <div class="PT-dropdown">
            <a href="#">Thông tin cá nhân</a>
            <a href="/vip">Nâng cấp tài khoản</a>
            <a href="#">Lịch sử xem</a>
            <a href="#">Danh sách yêu thích</a>
            <a href="/logout">Đăng xuất</a>
          </div>
        </div>
    <% } %>
  </div>
</header>
