<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link 
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" 
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <title>Tìm kiếm</title>
</head>
<body>
    <%- include('partials/header', { user }) %>
    <!-- Search Box -->
    <div class="PT-search-wrapper">
        <form class="PT-search-box" method="POST" action="/search">
            <button class="PT-search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <input type="text" placeholder="Tìm kiếm phim, diễn viên">
            <button class="PT-search-submit" type="submit">Tìm kiếm</button>
        </form>
    </div>

    <!-- Trending Section -->
    <div class="PT-trending-container">
        <div class="PT-trending-title">Xu hướng gần đây</div>

        <div class="PT-movie-list" id="movieList">

            <div class="PT-movie-item">
                <img src="Images/Home/Phim Hàn 1.webp">
                <div class="PT-movie-name">Cái Giá Của Lời Thú Tội</div>
            </div>

            <div class="PT-movie-item">
                <img src="Images/Home/Phim Hàn 2.webp">
                <div class="PT-movie-name">Dear X</div>
            </div>

            <div class="PT-movie-item">
                <img src="Images/Home/Phim Trung 1.webp">
                <div class="PT-movie-name">Kiêu Khởi Thanh Nhưỡng</div>
            </div>

            <div class="PT-movie-item">
                <img src="Images/Home/Phim Trung 2.webp">
                <div class="PT-movie-name">Người làm ăn lớn</div>
            </div>

            <div class="PT-movie-item">
                <img src="Images/Home/Phim USUK1.webp">
                <div class="PT-movie-name">IT: Chào Mừng Tới DERRY</div>
            </div>

            <div class="PT-movie-item">
                <img src="Images/Home/Phim USUK2.webp">
                <div class="PT-movie-name">Đường Về Cõi Chết</div>
            </div>

        </div>
    </div>

</body>
</html>