<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký thành công</title>
    <link rel="stylesheet" href="/css/login-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preload" href="/Images/Login/loginbg.jpg" as="image">
</head>
<body>
    <div id="AT-background"></div>
    <div id="AT-frame">
        <div class="AT-login-board" style="gap: 12.2rem;">
            <div class="AT-logo-container">
                <a href="/">
                    <img alt="Logo Cinemora" src="/Images/Login/logo.svg">
                </a>
            </div>
            <div class="AT-content">
                <div class="AT-main">
                    <div class="AT-icon-container">
                        <img src="/Images/Login/tick.svg" alt="Green tick icon">
                    </div>
                    <div class="AT-heading center">Đăng ký tài khoản thành công</div>
                    <a href="/login"><div class="AT-buttons">
                        <button class="AT-btn AT-btn-dark" type="button">🡸 Đăng nhập tài khoản</button>
                    </div></a>
                </div>
            </div>
            <div class="AT-login-board copyright"><span>© Copyright 2025 <span style="color:#A4A9A8">Cinemora</span></span></div>
        </div>
    </div>
    
</body>
</html>