<!DOCTYPE html>
<html lang="vi">
<head>
<meta charset="UTF-8">
<title>Cinemora - Đăng ký VIP thành công</title>
<link rel="stylesheet" href="css/style.css">

</head>
<body>

<!-- Thanh bước -->
<header class="NN-header">
    <div class="NN-logo">
        <h2>Cinemora</h2>
        <p>Đỉnh cao điện ảnh</p>
    </div>

    <div class="NN-steps">
        <div class="NN-step">
            <div class="NN-circle active1">✔</div>
            Chọn gói
        </div>

        <div class="NN-line"></div>

        <div class="NN-step">
            <div class="NN-circle active1">✔</div>
            Thanh toán
        </div>

        <div class="NN-line"></div>

        <div class="NN-step">
            <div class="NN-circle active">3</div>
            Kết quả
        </div>
    </div>
</header>

<!-- Khung thông báo -->
<div class="NN-success-box">
    <div class="NN-success-icon">✔</div>

    <h2>Đăng ký VIP thành công</h2>
    <p>Cảm ơn bạn đã đăng ký gói VIP Cinemora</p>

    <a href="#" class="NN-btn-home">Quay về trang chủ</a>
</div>

<!-- Footer -->
<%- include('partials/footer') %>

</body>
</html>
