/* BACKGROUND */
#AT-background {
    background-image: url("/Images/Login/loginbg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1a1f32;
    position: fixed;
    inset: 0;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

/* FRAME */
#AT-frame {
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    position: relative;
}

/* THIẾT LẬP CHUNG */
body {
    font-family: "Inter", sans-serif;
}
html, body {
    height: 100%;
}

/* KHỐI NỘI DUNG */
.AT-content {
    color: #fff;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem 0;
    font-size: 14px;
    display: flex;
}
/* COPYRIGHT */
.AT-content.copyright{
    color: #747E8C;
    align-items: center; 
    margin-top: 2rem;
}

/* LOGO VÀ ICON */
.AT-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100px;       
}
.AT-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 30px;   
    padding-bottom: 2rem; 
}
#AT-icon{
    width: 16px;
    height: 16px;
}

/* Animation slide down */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* CARD LOGIN */
.AT-card {
    background-color: #293246;
    border-radius: 1.5rem;
    flex-direction: column;
    gap: 0;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;

    /* Animation */
    opacity: 0;
    transform: translateY(-30px);
    animation: slideDown 0.6s ease-out forwards;
    animation-delay: 0.2s;
}

/* Nội dung login */
.AT-main {
    flex-direction: column;
    gap: .75rem;
    padding: 2.5rem;
    display: flex;
}
.AT-heading{
    color: #fff;
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1.2;
}
.AT-heading.center{
    display: flex;
    justify-content: center;
}

/* Form */

.AT-form {
  flex-direction: column;
  gap: 1rem;
  display: flex;
  padding-top: 3rem;
}
.AT-input{
    border: 1px solid #5A6478;
    border-radius: .6rem;
    height: 20px;
    padding: .6rem 1rem;
    font-size: 14px;
    color: #ffffffdc;
    background-color: #333F58;
}

/* Buttons */

.AT-button-row{
    align-items: center;
    gap: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.AT-buttons{
    padding-top: 2rem;
    flex-direction: column;
    gap: .8rem;
    display: flex;
}
.AT-btn{
    border-radius: .6rem;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    padding: .8rem 1.25rem;
    font-size: 15px;
    font-weight: 500;
    display: inline-flex;
    border: none;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.AT-btn:after {
  content: "";
  background: #ffffffb6;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.AT-btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.AT-btn-light {
  color: #000;
  background-color: #e2fe35;
}
.AT-btn-dark {
  color: #ffffff;
  background-color: #444f66;
}
.AT-btn-default{
    color: rgb(174, 179, 194);
    background-color: transparent;
    border: none
}
.AT-btn-default.light-text{
    color:#e2fe35
}

/* Báo lỗi */
.AT-error {
    color: #ff6b81;
}
