body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: #0e1221;
        color: #fff;
    }

    /* Thanh bước */
    .NN-header{
        background:#12141f;
        padding:20px 40px;
        display:grid;
        grid-template-columns: auto 1fr auto;
        justify-content:space-between;
        align-items:center;
    }

    .NN-logo{
        display:grid;
        flex-direction:column;
    }

    .NN-steps{
        display:flex;
        align-items:center;
        gap:50px;
        padding-right: 150px;
        justify-self: center;
    }

    .NN-step{
        display:flex;
        flex-direction:column;
        align-items:center;
        color:#bbb;
        font-size:13px;
    }

    .NN-circle{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid #ffca58;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        position: relative;
        z-index: 2;
    }

    .NN-circle.active{
        background:#ffffff;
        border-color:#00d26a;
        color:#000;
        box-shadow:0 0 10px #00d26a;
    }
    .NN-circle.active1{
        background:#00d26a;
        border-color:#ffffff;
        color:#000;
        box-shadow:0 0 10px #00d26a;
    }

    .NN-line{
        width: 200px;
        height: 2px;
        background: #e0f8a8;
        position: relative;
        top: -16px;
        z-index: 1;
    }

    /* Khung thông báo */
    .NN-success-box {
        width: 450px;
        margin: 80px auto;
        background: #182133;
        padding: 40px 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 0 20px #0006;
    }

    .NN-success-icon {
        width: 60px;
        height: 60px;
        background: #00d26a;
        border-radius: 50%;
        margin: 0 auto 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        color: #000;
        box-shadow: 0 0 10px #00d26a;
    }

    .NN-success-box h2 {
        margin: 10px 0;
        font-size: 22px;
    }

    .NN-success-box p {
        color: #bbb;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .NN-btn-home {
        padding: 10px 25px;
        background: #2e3952;
        color: #fff;
        border-radius: 6px;
        text-decoration: none;
        display: inline-block;
        transition: 0.2s;
    }

    .NN-btn-home:hover {
        background: #3d4b6d;
    }

    /* Footer */
    .NN-footer{
        margin-top:40px;
        background:#12141f;
        padding:35px;
        color:#bbb;
    }

    .NN-footer h3{
        color:#fff;
        margin-bottom:10px;
    }